
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  <!-- encoders are assigned the type
	       ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
	</appender>
	
	<appender name="log-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	   <file>my-application.log</file>
	
	   <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	      <!-- only log problems, not debugging info -->
	      <level>DEBUG</level>
	   </filter>
	   
	   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- rotate every day for log collection and archiving -->
	      <fileNamePattern>my-application.%d{yyyyMMdd}.log</fileNamePattern>
	   </rollingPolicy>
	
	   <encoder>
	      <!-- only log 2 lines of stack trace per cause of an exception -->
	      <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{2}%n</pattern>
	   </encoder>
	</appender>
	
	<root level="debug">
	  <appender-ref ref="STDOUT" />
	  <appender-ref ref="log-file" />
	</root>
	
	<logger name="Heater" level="TRACE"/>	
	
</configuration>